.modalLogin {
  width: 600px !important;
  height: 700px !important;
}
.registerButton {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-bottom: 1px solid rgb(97, 137, 224);
  cursor: pointer;
  color: #00a5da;
}
