.backColor {
  background-color: #46b8da !important;
  height: 40px !important;
  width: 220px !important;
  float: right;
}

.positioning {
  /* margin-top: -95px;
  margin-right: 190px; */
  float: right;
}

.hoverMenu > *:hover {
  background-color: #46b8da !important;
}

.ppp {
  background-color: blue;
}
